@import "../src/index.scss";

body {
	background-color: $black !important;
	color: $light-grey !important;
}

.borderContainer {
	border: $container-Border;
	border-radius: 5px;
}

.error {
	color: red;
}

.required {
	font-size: 1.2em;
}

a {
	color: $teal;
	&:hover {
		color: $teal2;
	}
	&:active {
		color: #256571;
	}
	&:visited {
		color: $teal;
	}
}

.login,
.signup {
	@include flexCenter;
	height: 100%;
	margin-top: 17vh;
	.borderContainer {
		h1 {
			margin-bottom: 2%;
		}
		@include container;
		padding: 3%;
		width: 45%;
		.form {
			@include flexCenter;
			flex-direction: column;
			.inputs input {
				width: 93%;
				padding: 1%;
				margin-top: 1%;
				margin-bottom: 3%;
				border-radius: 4px;
				border: none;
				&::placeholder {
					font-style: italic;
				}
			}
			.bi-eye-fill,
			.bi-eye-slash-fill {
				margin-left: 1%;
				color: $light-grey;
				font-size: 1.4em;
				cursor: pointer;
				&:hover {
					color: $grey-hover;
				}
			}
			.forgot {
				text-align: right !important;
				margin-top: -2.5% !important;
				margin-right: 7% !important;
			}
			label {
				width: 100%;
			}
		}
		.buttons {
			margin-top: 3%;
			width: 100%;
			.loginBtn {
				@include buttons($teal, #000);
				width: 93%;
				font-size: 1.2em;
			}
			.signup {
				color: $teal2 !important;
				text-decoration: underline !important;
				font-size: 1.2em;
				width: 93%;
			}
		}
	}
}

.signup {
	margin-top: 3vh;
	margin-bottom: 6%;
	.inputs input {
		border: none;
		&::placeholder {
			font-style: italic;
		}
	}

	.borderContainer {
		.buttons {
			margin-top: 6%;
		}
	}
}

nav {
	background-color: #1c1b1b !important;
	height: 8vh;
	border-bottom: #191919 2px solid;
	.nav-link {
		color: $light-grey !important;
		&:hover {
			color: $grey-hover !important;
		}
	}
	.navbar-text,
	.navbar-brand {
		margin-right: 1%;
		color: $light-grey;
		&:hover {
			color: $grey-hover;
		}
	}
	.button {
		@include buttons($teal, #000);
	}
}

.navbar > .container {
	max-width: 100%;
	margin: 0;
	padding: 0;
	margin-left: 0.5%;
}

.navbar {
	margin: 0;
	padding: 0;

	.loader {
		margin: auto;
		margin-top: 10%;
		border: 60px solid $light-grey;
		border-radius: 50%;
		border-top: 60px solid $red;
		border-left: 60px solid $red;
		width: 200px;
		height: 200px;
		animation: spinner 1s linear infinite;
	}

	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.noAccess {
	width: 100% !important;
	text-align: center !important;
	margin-top: 40vh !important;
	color: red !important;
}

.ProfilePage {
	h1 {
		margin-left: 2%;
	}

	.flexItems {
		margin-top: 3%;
		@include flexCenter();
		justify-content: space-between;

		.imgUsername {
			margin: 1%;
			@include flexCenter;
			justify-content: space-between;
			.profileImg {
				max-width: 243px !important;
			}
			.profileImgBtn {
				@include buttons($teal2, $light-grey);
				align-self: flex-end;
				margin-left: -27%;
			}
			.editProfile {
				display: grid;
				@include buttons($teal, #000);
				padding: 1% !important;
				align-self: flex-start;
			}
		}

		hr {
			height: 3px;
			color: black;
			background: black;
			font-size: 0;
			border: 0;
		}

		.info,
		.party {
			width: 50%;
			margin: 2%;
			padding: 1%;
			border: 2px #1c1b1b solid;
			border-radius: 5px;
			height: 100%;
		}

		.info {
			@include container;
			.form {
				margin-top: 3%;
				margin: 2%;
				label {
					font-size: 1.2em;
				}
				button{
					@include buttons($teal, #000);
				}
				
			}
			input {
				width: 100%;
				margin-bottom: 1%;
			}
			.color {
				color: #dcb20d;
				font-weight: bold;
			}
		}
		.profileInfo {
			h3 {
				word-wrap: normal;
			}
		}
		.allPokemonParty {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.pokemonParty {
			flex-basis: calc(33.33% - 2%);
			margin: 1%;
			box-sizing: border-box;
		}
	}
}
