@import "../src/index.scss";

// testing that styling works
body {
	background-color: $black;
	color: $light-grey;
}

.borderContainer {
	border: 2px black solid;
  border-radius: 5px;
}

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-top: 30vh;
  .borderContainer{
    padding: 3%;
    width: 45%;
    .form{
      display: flex;
      align-items: center;
      justify-items: center;
      flex-direction: column;
      .inputs input{
        width: 80%;
      }
    }
    .buttons{
      margin-top: 2%;
    }
  }
  
}
