@import '../index.scss';

.typeChart{
    width: 95%;
    max-width: 99%;
    margin: auto;
}

table{
    margin: auto;
    width: 95%;
}

thead{
    border: 1px solid $light-grey;
    padding: 2%;
    white-space: nowrap;
    th{
        border: 1px solid white;
        text-align: center;
    }
}

tr{
    border: 1px solid $teal;
    max-width: max-content;
}

td{
    margin: auto;
    text-align: center;
    border: 1px solid $teal;
    text-wrap: wrap;
    word-wrap: break-word;
}