@import '../index.scss';

.pokemonArray{
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    justify-content: space-evenly;
    grid-template-rows: min-content 1fr;
}

.loadMoreButton{
    width: 25%;
    margin-top: 5%;
    margin-bottom: 2%;
    align-self: center;
}