@import '../index.scss';

.pokemonName{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    color: $light-grey;
}

.evolutionChain{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: start;
}

.pokemonTypes{
    display: flex;
    flex-direction: row;
}

.pokemonType{
    padding: 6px;
    margin: 10px;
    color: lighten($light-grey, 20%);
    border-radius: 10px;
}