@import '../index.scss';

.pokemonCard{
    width: 150px;
    margin: 10%;
    border-radius: 250px;
    max-height: 225px;
    display:block;
}

.pokemonCard a{
    text-decoration: none;
    color: $light-grey;
    &:hover{
        color: $teal2;
    }
    &:active{
        color: #256571;
    }
    &:visited{
        color: $teal;
    }
        
}

.cardName{
}

.cardNameContainer{
    text-align: center;
    background-color: $red;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    display: inline-block;
    height: 25%;
    margin-bottom: 10%;
    vertical-align:top;
}

.pokemonCardTypes{
    background-color: darken($light-grey, 10%);
    height: 25%;
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: bottom;
}

.pokemonCardType{
    padding: 6px;
    color: lighten($light-grey, 20%);
    border-radius: 10px;
}

.pokemonCardImage{
    margin: auto;
    display: block;
}

.pokemonCardImageContainer{
    align-items: center;
    text-align: center;
}