@import '../index.scss';

.pokemonCard{
    max-width: 150px;
    background-color: $teal;
    margin: 5px;
    padding: 5px;
    border: 1px solid $red;
    border-radius: 25px;
    max-height: 200px;
    display:block;
}

.pokemonCard a{
    text-decoration: none;
    color: $light-grey;
    &:hover{
        color: $teal2;
    }
    &:active{
        color: #256571;
    }
    &:visited{
        color: $teal;
    }
        
}

.cardName{
    padding: 10%;
}

.cardNameContainer{
    text-align: center;
    background-color: $red;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    top: 0;
    position: fixed;
    z-index:100;
}

.pokemonCardTypes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pokemonCardType{
    padding: 6px;
    color: lighten($light-grey, 20%);
    border-radius: 10px;
}

.pokemonCardImage{
    margin: auto;
    display: block;
}

.pokemonCardImageContainer{
    align-items: center;
    text-align: center;
}